- name: Configure Web Server
  hosts: web
  become: yes
  tasks:
    - name: Install Apache
      yum:
        name: httpd
        state: present

    - name: Start Apache
      service:
        name: httpd
        state: started
        enabled: true

    - name: Deploy App
      copy:
        src: ../app/
        dest: /var/www/html/
